In [116]:
import json, csv, string, datetime, re
from dateutil.parser import parse
import pandas as pd
import numpy as np

!pip install nltk
from nltk.tokenize import TweetTokenizer
from nltk.stem.snowball import SnowballStemmer 
from nltk.corpus import stopwords

Requirement already satisfied: nltk in /home/mpgxc/anaconda3/lib/python3.7/site-packages (3.4)
Requirement already satisfied: six in /home/mpgxc/anaconda3/lib/python3.7/site-packages (from nltk) (1.12.0)
Requirement already satisfied: singledispatch in /home/mpgxc/anaconda3/lib/python3.7/site-packages (from nltk) (3.4.0.3)

### Funções de Limpeza

In [117]:
def remove_numbers(tweet):
    return re.sub(r'\d+', '', tweet)

def remove_dots(tweet):
    
    """Remove todo !"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~"""
    
    return  re.compile(
        f'[{re.escape(string.punctuation)}]'
    ).sub(' ', tweet)

def remove_stopwords(tweet, lang = 'english'):
    
    stop_words, toker = stopwords.words(lang), TweetTokenizer()
    
    tweet_tmp = remove_numbers(tweet)
    tweet_tmp = remove_dots(tweet_tmp)
    tweet_tmp  = toker.tokenize(tweet_tmp)
    
    return [word.lower() for word in tweet_tmp if not word in stop_words]

In [118]:
data = pd.read_csv('DATASET.csv')
data.head()

,date,id_str,user_name,text,time,latitude,longitude
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600
2,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,20:30:04,19.078167,-155.187667
3,2018-05-06,4.142280e+08,NaomiCooper808,vacay ladat waimea hawaii county hawai,20:09:43,20.020278,-155.667778
4,2018-05-06,2.011251e+07,vioart527,last sunset hawaii next time,19:46:08,19.650000,-155.994000

### Varificando valores NaN

In [119]:
data.isnull().sum()

date         0
id_str       0
user_name    0
text         2
time         0
latitude     0
longitude    0
dtype: int64

### Vendo quem são

In [120]:
nulls = data[data['text'].isnull()]
nulls

            date        id_str user_name text      time   latitude   longitude
2219  2018-05-22  7.022909e+17  object82  NaN  03:30:04  19.975800 -155.315800
2688  2018-05-08  1.447949e+09   autoRNG  NaN  12:22:57  21.247147 -155.461077

### Resolvendo Valores NaN

In [121]:
for index in nulls.index:
    data['text'].loc[index] = 'ERA NAN, MAS AGORA NÂO É!'

### Removendo conteúdo nulo!

In [122]:
data.dropna(inplace = True)

### Aplicando os filtros no campo **text**

In [123]:
for k, x in enumerate(data['text']):
    data.loc[k,'text'] = str(" ".join(remove_stopwords(x)))

### Observado as alterações na base!

In [124]:
data.head(15)

,date,id_str,user_name,text,time,latitude,longitude
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.594333,-155.971728
1,2018-05-06,2.929292e+07,queeraspoetry,good 🤙 🌋 center spiritual living hawai,20:33:41,19.560340,-154.986600
2,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km e...,20:30:04,19.078167,-155.187667
3,2018-05-06,4.142280e+08,NaomiCooper808,vacay ladat waimea hawaii county hawai,20:09:43,20.020278,-155.667778
4,2018-05-06,2.011251e+07,vioart527,last sunset hawaii next time,19:46:08,19.650000,-155.994000
5,2018-05-06,2.379071e+09,tiedyehobo,uzygxss tiedyehobo tiedye hippie hawaii tiedyehob,18:52:58,19.525750,-155.923580
6,2018-05-06,1.864570e+07,syvideo,adventures covering lava flow hilo hi leilani ...,18:18:05,19.473500,-154.920000
7,2018-05-06,1.882971e+07,rodney_o,breakfast pahala leftovers rustyshawaiian coff...,18:15:13,19.204109,-155.479005
8,2018-05-06,4.934616e+08,ashleyyyz3,home 🍃 napoopoo hawai,17:52:28,19.476400,-155.923000
9,2018-05-06,1.714726e+09,itsnotben,hawaii round hours airplane earthquakes volcan...,17:38:12,19.431649,-155.216870
10,2018-05-06,2.918153e+09,eq_map_es,【 】 isla de hawaii hawaii km utc sismo terremo...,13:30:49,19.046000,-155.173000
11,2018-05-06,8.195031e+08,eq_map_ww,island hawaii hawaii depth km may utc may epic...,13:30:48,19.046000,-155.173000
12,2018-05-06,2.955319e+08,eq_map,【 】 island hawaii hawaii km jst utc g icwpbsck...,13:30:48,19.046000,-155.173000
13,2018-05-06,6.063745e+08,shellokitty78,little gecko joined us drink ☺ ️ kailua kona h...,09:27:15,19.650000,-155.994000
14,2018-05-06,8.149151e+17,Hazards_Network,monday january earthquake magnitude shook km s...,08:20:04,19.371334,-155.033829

In [125]:
data.isnull().sum()

date         0
id_str       0
user_name    0
text         0
time         0
latitude     0
longitude    0
dtype: int64

### Exportando a base normalizada.

In [126]:
data.to_csv("DATASET_saida.csv",  index = None)